<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ static_file('favicon/apple-touch-icon.png') }}"
/>

<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ static_file('favicon/favicon-32x32.png') }}"
/>

<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ static_file('favicon/favicon-16x16.png') }}"
/>

<link rel="manifest" href="{{ static_file('favicon/site.webmanifest') }}" />

<link
  rel="mask-icon"
  href="{{ static_file('favicon/safari-pinned-tab.svg') }}"
  color="#5bbad5"
/>

<link rel="shortcut icon" href="{{ static_file('favicon.ico')[7:] }}" />

<meta name="apple-mobile-web-app-title" content="Tony Dang" />
<meta name="application-name" content="Tony Dang" />
<meta name="msapplication-TileColor" content="#2b5797" />

<meta
  name="msapplication-config"
  content="{{ static_file('favicon/browserconfig.xml') }}"
/>
<meta name="theme-color" content="#000000" />
