<form method="POST" action="{{ request.path }}" autocomplete="on">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <input type="hidden" name="next_url" value="{{ next_url }}" />

  {% if request.path == '/auth/register' %}
  <label for="name">Name *</label><br />
  <input
    id="name"
    type="text"
    name="name"
    maxlength="50"
    value="{{ form.name.data }}"
    required
  /><br /><br />
  {% endif %}

  <label for="email">Email *</label><br />
  <input
    id="email"
    type="email"
    name="email"
    maxlength="256"
    value="{{ form.email.data or request.args.get('email', '') }}"
    required
  /><br /><br />

  {{ form.recaptcha }}<br />
  <button>SUBMIT</button>
</form>
